@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #EBEBEB;
    font-family: "Montserrat";
    margin-inline: auto;
}

.header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
    padding-left: 25px;
    border-bottom: solid #3E5C88 2px;
}

.header_name{
    color: #3E5C88;
    font-weight: 500;
    font-size: 3em;
}

.sidebar{
    display: flex;
    width: 470px;
    height: 100vh;
    background-color: white ;
    border-right: solid #3E5C88 2px;
}

.sidebar_left_box{
    display: flex;
    width: 470px;
    height: 190px;
    border-bottom: solid #3E5C88 2px;
    
}

.sidebar_left_box_customize{
    padding: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    row-gap: 29px;
}

.sidebar_left_box_customize_text1{
    font-size: 2.5em;
    font-weight: 500;
}

.sidebar_left_box_customize_text2{
    font-size: 1.69em;
    font-weight: 400;
    display: flex;
    gap: 170px;
    align-items: center;
}

.sidebar_left_box_customize_text_button{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 123px;
    height: 50px;
    background-color: #3E5C88;
    border-radius: 20px;
    font-size: 0.9em;
    color: white;
    
}

.sidebar_left_list{
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 60px;
}

.sidebar_left_list_color{
    font-size: 1.8em;
    font-weight: 500;
}

.sidebar_left_list_mainText{
    font-size: 1.8em;
    font-weight: 500;
}

.sidebar_left_list_text{
    font-size: 1.5em;
    font-weight: 400;
}

.sidebar_right{
    position: absolute;
    right: 0;
    width: 500px;
    height: 100vh;
    background-color: white ;
    border-left: solid #3E5C88 2px;
}

.sidebar_right_list{
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 60px;
}

.sidebar_right_customize_text1{
    font-size: 2.5em;
    font-weight: 500;
    
}

.sidebar_right_list_mainText{
    font-size: 1.8em;
    font-weight: 500;
}

.sidebar_right_box{
    display: flex;
}

.sidebar_right_box_customCanvas{
  
    display: flex;
    row-gap: 60px;
    flex-direction: column;
}